<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Open Platform</title>

  <meta name="viewport" content="width=device-width">
</head>
<body>
    <header>{% block header %}{% endblock %}</header>
    <div id="content">
        {% if messages %}
        {% block messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endblock messages %}
        {% endif %}
        {% block content %}{% endblock %}
        <footer>{% block footer %}{% endblock %}</footer>
</body>
</html>
